# step 1
DB_NAME="****"
DB_USER="****"
STEP1_OUTPUT_DIR="/Paper4_v3/P4_V5/data/extract"

# step 2
DATA_DIR="Paper4_v3/P4_V3/data/"
MAIN_DATASET_PATH = "Paper4_v3/P4_V3/diagnose_opphold"
MAIN_DATASET = "Paper4_v3/P4_V3/diagnose_opphold/dato_opphold_forordning.parquet"
ATCNAME_CODE_NORSK = "Paper4_v3/P4_V5/step_2_mapping/Atcmapper/"
ICDMAPPER = "Paper4_v3/P4_V5/Mapping/IcdMapper/"
AXISI_MAIN_DATASET = "Paper4_v3/P4_V3/data/v2axis1_primary_medicated"
OUTPUT_PLOTS = "Paper4_v3/P4_V5/data/output/plots"
AXISII_MAIN_DATASET = "Paper4_v3/P4_V3/data/v2axis2_primary_medicated"
AXISIII_MAIN_DATASET = "Paper4_v3/P4_V3/data/v2axis3_primary_medicated"
AXES_COMORBID_EXCEL_PATH = "Paper4_v3/P4_V3/P4_V4/"





# app
FIRST_DATA_PATH ="Paper4_v3/data/patients_axis1_primary_medicated"
APP_INITIAL_DATA_PATH = "Paper4_v3"


